<footer>
    <div class="bg-dark text-white text-center fixed-bottom py-3">
        @Task3
    </div>
</footer>
<script src="/jquery-3.5.1.min.js"></script>
<script src="/popper.min.js"></script>
<script src="/bootstrap.min.js">></script>

</body>
</html>