{{>header}}

<div class="w-50 py-5 text-center m-auto">
    <form>
        <input type="text" placeholder="Name" class="form-control my-2">
        <input type="number" placeholder="Age" class="form-control">
        <button class="btn btn-info my-2 w-100">Add User </button>

    </form>
</div>


{{>footer}}