{{>header}}

<div class="w-50 py-5 m-auto">
    <form>
        <input type="text" placeholder="Name" class="form-control my-2">
        <input type="number" placeholder="Age" class="form-control my-2">
        <label for="">Status:</label>
        <br>
        <input type="radio" name="status" value="active">
        <label for="">Active</label>
        <br>
        <input type="radio" name="status" value="inActive">
        <label for="">In-Active</label>
        <button class="btn btn-info my-2 w-100">Update User </button>

    </form>
</div>

{{>footer}}