{{>header}}

<div class="w-75 m-auto py-5">
    <table class="table text-center">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Status</th>

        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>mona</td>
                <td>22</td>
                <td>active</td>

            </tr>
        </tbody>
    </table>
</div>

{{>footer}}